$height: 82px;
$bgc: #000;
// $bgc:#ccc;

.header {
  .navbar {
    .logo {
      margin-left: 1.5rem;
      background-image: url(./img/logo.svg);
      height: 3.2rem;
      width: 11rem;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    display: flex;
    height: $height;
    background-color: $bgc;
    align-items: center;

    .collapse {
      display: flex;
      flex-grow: 1;
      height: $height;

      .links {
        display: flex;
        margin-right: auto;
        align-items: flex-end;

        ul {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.2rem;

          a {
            padding: 0 1rem;
            margin: 0 2rem;

            &:hover {
              border-bottom: 3px solid #f00;
            }
          }
        }

        li:first-child a {
          border-bottom: 3px solid #f00;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        .info-button {
          flex: 1;
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            padding: 0 1rem;
            height: 1.8rem;
            line-height: 1.8rem;
            background-color: #fff;
            margin: 0 1rem;
            border-radius: 0.3rem;
            cursor: pointer;

            &.signup {
              background-color: #f00;
              color: #fff;
            }
          }
        }

        .info-nav {
          flex: 1;
          display: flex;

          ul {
            flex: 1;
            display: flex;
            align-items: flex-end;

            li {
              flex: 1;
              display: flex;
              justify-content: center;
              color: #fff;
            }
          }
        }
      }
    }

    .mobile-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .navbar {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .logo {
        margin-left: 1.5rem;
        font-size: 2rem;
      }

      .menu {
        margin-right: 1.5rem;
        background-image: url(./img/menu.svg);
        height: 3.2rem;
        width: 3.2rem;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .collapse {
        display: none;
      }
    }
  }
}
