.footer {
  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

    div {
      margin-right: 3rem;
      margin-left: 1.5rem;
      li {
        margin: 1rem auto;
      }
    }

    .logo {
      background-image: url(./img/logo.svg);
      height: 3.2rem;
      width: 11rem;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }


}
@media only screen and (max-width:768px) {
  .footer{
    .container{
      .logo{
        margin-left: 2rem;
      }
    }
  }
}